- content_for :title do
  QuikCourse
  \/
  Course
  = @course.title
  \/
  New Lesson

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
new
%p

.card
  .card-header
    %h3
      .far.fa-check-square
      New Lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to Course', course_path(@course)



