.container
  %h1
    Current Courses
  %h2
    = @courses.count
    found
.container
  .row
    .col-md-2
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        = f.search_field :title_or_short_description_or_language_or_price_or_level_or_user_email_cont, placeholder: 'Search!', class: 'form-control form-control-sm'
        = f.submit
        = link_to courses_path, class: 'btn btn-sm btn-secondary text-white' do
          .fa.fa-sync
    .col-md-10
      .row.row-cols-1.row-cols-md-3.g-4
        - @courses.each do |course|
          = render 'courses/course', course: course
%br


